body {
font-family: 'Courier New', Courier, monospace;
}




.left { 
   /* background-color: rgb(255, 194, 204); */
   background: url('../img/spacebggif.gif');
   padding-top: 300px;
    text-align: center;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}
/* Left side container */
.containerbox{
    background-color: pink;
    
    
    border: 3px;
    
    border-radius: 4px;
    
    color: rgb(23, 23, 23);
    padding: 15px 32px;
    width: 300px;
    height: 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    
}
/* Background */
.right {
    background: url('../img/spacebggif.gif');
    border-left: none;
    position: fixed;
    width: 50%;

    height: 100%;
    top: 0;
    right: 0;
}

.ground {
    position:absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: url('../img/background.png');
    background-size: contain;
    border:none;
    

}

.nervous {
    position:absolute;
    bottom: 100px;
    left: 50%;
    background: url('../img/nervous.png') no-repeat 0 0;
    background-size: contain;
    width: 220px;
    height: 220px;
    margin-left: -150px;
    display: none;

}
.nervous.show {
    display: block;
}
.rocket {
    position:absolute;
    left: 50%;
    bottom: 22px;
    width: 170px;
    height: 240px;
    margin-left: -34px;
    
    /* background-color: rgb(75, 75, 75); */
    background: url('../img/rocket-state1.png') no-repeat;
    background-size: contain;
    transition: bottom 6000ms

}
/* rocket bg image in different states */

body.body-state2 .rocket{
    position:absolute;
    left: 50%;
    bottom: 22px;
    width: 170px;
    height: 240px;
    margin-left: -43px;
    
    /* background-color: rgb(75, 75, 75); */
    background: url('../img/rocket-state2.png') no-repeat;
    background-size: contain;
}
body.body-state3 .rocket,
body.body-state4 .rocket{
    position:absolute;
    left: 50%;
    bottom: 22px;
    width: 170px;
    height: 240px;
    margin-left: -43px;
    
    /* background-color: rgb(75, 75, 75); */
    background: url('../img/rocket-state3.png') no-repeat;
    background-size: contain;
    
}
body.body-state5 .rocket{
    position:absolute;
    left: 50%;
    bottom: 22px;
    width: 320px;
    height: 400px;
    margin-left: -150px;
    
    /* background-color: rgb(75, 75, 75); */
    background: url('../img/rocket-stateboom.png') no-repeat;
    background-size: contain;
    
}







body.body-state1 .rocket{
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 1000px;
}

a.button {
    background-color: #00000050;
    font-family: 'Courier New', Courier, monospace;
    
    border: 3px;
    border-color:black ;
    border-radius: 4px;
    font-weight: bold;
    color: rgb(23, 23, 23);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    /*add custom cursor*/
    cursor: pointer;
}

.state1,
.state2,
.state3,
.state4,
.state5{
    display: none;

}


body.body-state1 .state1{display:block;}
body.body-state2 .state2{display:block;}
body.body-state3 .state3{display:block;}
body.body-state4 .state4{display:block;}
body.body-state5 .state5{display:block;}